{%  extends 'base/base.html' %}

{% block content %}

<style>
    .signup_container{
        background-color: rgb(255, 38, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 15px;
        height: 300px;
        border-radius: 5px;
    }
    .signup_container h2{
        font-size: 2rem;
        position: absolute;
        top: 10px;
        margin-bottom: 20px;
    }
    .signup_container input[type="submit"]{
        background-color: rgb(0, 174, 255);
        padding: 5px;
        width: 90px;
        border-radius: 8px;
        outline: none;
        border: none;
        text-align: center;
        margin-left: 60px;
        margin-top: 30px;

    }


</style>

<div class="signup_container">
   <h2>Sign UP</h2>

<form  method="post">
    {% csrf_token %}
    {% for fields in form %}
       <p>

        {{fields.label_tag}}  <br>
        {{fields}}

        {% for error in fields.errors%}
           <p style="color: red;">{{error}}</p>
        {% endfor %}
       </p>
    {% endfor%}
       <input type="submit" value="signup">
</form>
</div>
{% endblock content %}